h1 a:visited {
    text-decoration: none;
    color: #1d4ed8;
}

h1 a:hover {
    text-decoration: none;
    color: #b91c1c;
}

h1 a {
    text-decoration: none;
    color: #1d4ed8;
}

.driver-card {
    border-left-color: #dc2626;
}

.driver-name {
    color: #b91c1c;
}


